.cookie-message {
	position: absolute;
	z-index: 10;
	background-color: #e5e5e5;
	transition: all 0.5s ease;
    top: -245px;
    transform: translate(0, 0);
    height: 245px;
    width: 100%;

    a {
    	color: #2F7CA3;
    	text-decoration: underline;
    }

    p {
    	@include font(13, 22);
    	padding: 0 10px;
    }

	.show-cookie & {
        transform: translate(0, 245px);
	}

	.centered {
		max-width: 1024px;
	}

	.cookie__inner {
		padding: 20px 0;
		text-align: center;

        .continue {
        	margin-top: 20px;
        	background: #045370;
        	padding: 9px 40px;
        	font-weight: bold;
        }
	}

	@include mq($from: tablet) {
	    p {
	    	@include font(16, 24);
	    }

		.cookie__inner {
			padding: 40px 0;
        }

        .continue {
            margin-top: 40px;
        }
	}
}