/**
 * @group css.styles
 *
 * This is the core/primary stylesheet for the whole site, all other stylesheets are pulled in by this one.
 * It is mobile first so we declare all our base styles first add more through media queries
 *
 */

/**
 * @prop {boolean} $mq-responsive
 */

/**
 * @group css.mixins.mixins
 *
 * Here we define the reusable helper mixins
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__mixins/_mixins.scss";
 *
 *
 * ## Additional
 * We can also use compass which is a library of helper mixins. Here are the ones we commonly use:
 *
 * @example
 *     @include transition(all 0.3s ease-out);
 */

/**
 * Adds a size and line height and optional font family
 * 
 * @param {Number/String} $fontSize (1.6)
 * @param {Number/String} $lineHeight ($fontSize * 1.5)
 * @param {String} $fontFamily (inherit)
 *
 * @example
 *     @include font(14, 16, $f-opensans);
 * 
 * @example
 *     @include font(14, 16);
 */

/**
 * Adds transparency to an element
 *
 * @param {string} $color
 * @param {string} $alpha
 *
 * @example
 *     @include background-transparent(#000, .8);
 */

/**
 * @param {number} $opacity
 *
 * @example
 *     @include opacity(0.5);
 */

/**
 * Absolute Positioned
 *
 * @param {size} $top (auto)
 * @param {size} $right (auto)
 * @param {size} $bottom (auto)
 * @param {size} $left (auto)
 *
 * @example
 *     @include absPosition(5px, 20px, 10px, 15px);
 */

/**
 * Retina Images
 * 
 * @param {string} $image
 * @param {size} $width
 * @param {size} $height
 *
 * @example
 *      @include image-2x("logo2x.png", 100px, 25px);
 */

/**
 * Visually hidden, but have it available for screen readers
 *
 * @example
 *     @include vhdn;
 */

/**
 * Remove visually hidden
 *
 * @example
 *     @include vhdn-off;
 */

/**
 * Antialias Text
 *
 * @example
 *     @include anti-alias-text;
 */

/**
 * Absolute Position Cover
 *
 * @example
 *     @include abs-cover;
 */

/**
 * Break Word
 *
 * @example
 *     @include break-word;
 */

/**
 * CSS Triangles
 *
 * @param $dir
 *
 * @example
 *     @include triangle(down, 20px, $color-grey-2);
 */

/**
 * @group css.mixins.animations
 *
 * Here we define the reusable helper mixins
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__mixins/_animations.scss";
 */

/**
 * Font
 * 
 * @param {string} $animation
 * @param {number} $duration
 * @param {type} $timing (ease)
 * @param {number} $delay (0)
 * @param {type} $iteration (initial)
 * @param {type} $direction (normal)
 * @param {type} $playstate (running)
 * @param {type} $fillmode (forwards)
 * 
 * @example
 *     @include animation(changecolour, 5s, linear, 0, infinite, normal, running);
 *
 */

/**
 * @group css.base.normalize
 *
 * These are the reset styles for the site
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/_normalize.scss";
 *
 */

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

/* line 22, ../../src/scss/__base/_normalize.scss */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

/* line 32, ../../src/scss/__base/_normalize.scss */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

/* line 45, ../../src/scss/__base/_normalize.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

/* line 65, ../../src/scss/__base/_normalize.scss */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

/* line 78, ../../src/scss/__base/_normalize.scss */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

/* line 88, ../../src/scss/__base/_normalize.scss */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

/* line 100, ../../src/scss/__base/_normalize.scss */

a {
	background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

/* line 108, ../../src/scss/__base/_normalize.scss */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

/* line 120, ../../src/scss/__base/_normalize.scss */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

/* line 128, ../../src/scss/__base/_normalize.scss */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

/* line 137, ../../src/scss/__base/_normalize.scss */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

/* line 146, ../../src/scss/__base/_normalize.scss */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

/* line 155, ../../src/scss/__base/_normalize.scss */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

/* line 164, ../../src/scss/__base/_normalize.scss */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

/* line 172, ../../src/scss/__base/_normalize.scss */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

/* line 180, ../../src/scss/__base/_normalize.scss */

sup {
	top: -0.5em;
}

/* line 184, ../../src/scss/__base/_normalize.scss */

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

/* line 195, ../../src/scss/__base/_normalize.scss */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

/* line 203, ../../src/scss/__base/_normalize.scss */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

/* line 214, ../../src/scss/__base/_normalize.scss */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

/* line 222, ../../src/scss/__base/_normalize.scss */

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

/* line 232, ../../src/scss/__base/_normalize.scss */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

/* line 240, ../../src/scss/__base/_normalize.scss */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

/* line 263, ../../src/scss/__base/_normalize.scss */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

/* line 277, ../../src/scss/__base/_normalize.scss */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

/* line 288, ../../src/scss/__base/_normalize.scss */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

/* line 301, ../../src/scss/__base/_normalize.scss */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

/* line 313, ../../src/scss/__base/_normalize.scss */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

/* line 322, ../../src/scss/__base/_normalize.scss */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/* line 333, ../../src/scss/__base/_normalize.scss */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

/* line 345, ../../src/scss/__base/_normalize.scss */

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

/* line 357, ../../src/scss/__base/_normalize.scss */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

/* line 368, ../../src/scss/__base/_normalize.scss */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

/* line 381, ../../src/scss/__base/_normalize.scss */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

/* line 390, ../../src/scss/__base/_normalize.scss */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

/* line 401, ../../src/scss/__base/_normalize.scss */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

/* line 410, ../../src/scss/__base/_normalize.scss */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

/* line 419, ../../src/scss/__base/_normalize.scss */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

/* line 430, ../../src/scss/__base/_normalize.scss */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* line 435, ../../src/scss/__base/_normalize.scss */

td,
th {
	padding: 0;
}

/**
 * @group css.base.helpers
 *
 * Here we define the reusable helper classes
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/_helpers.scss";
 *
 */

/**
 * Clearfix
 */

/* line 18, ../../src/scss/__base/_helpers.scss */

.cf,
.structure:after,
.structure-inner:after {
	zoom: 1;
}

/* line 20, ../../src/scss/__base/_helpers.scss */

.cf:before,
.cf:after,
.structure:after,
.structure-inner:after {
	content: "";
	display: table;
}

/* line 21, ../../src/scss/__base/_helpers.scss */

.cf:after,
.structure:after,
.structure-inner:after {
	clear: both;
}

/**
* Hidden - Hide from both screenreaders and browsers:
*/

/* line 29, ../../src/scss/__base/_helpers.scss */

.hdn {
	display: none;
	visibility: hidden;
}

/**
* Visually Hidden
*/

/* line 39, ../../src/scss/__base/_helpers.scss */

.vhdn {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* line 43, ../../src/scss/__base/_helpers.scss */

.vhdn-off {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/**
* Visually Hidden on Focus - Extends the .vhdn class to allow the element to be focusable
*/

/* line 52, ../../src/scss/__base/_helpers.scss */

.vhdn.focus:active,
.vhdn.focus:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/**
* Invisible - Hide visually and from screen readers, but maintain layout
*/

/* line 62, ../../src/scss/__base/_helpers.scss */

.invs {
	visibility: hidden;
}

/**
 * Here we define the colour variables that are used throughout the other stylesheets

 * @group css.base.colours
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/_colours.scss";
 *
 */

/**
 * @group css.base.colours
 * @param {color} $color-grey-1
 */

/**
 * @group css.base.fonts
 *
 * Here we define the font styles
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/_fonts.scss";
 *
 */

@font-face {
	font-family: "nspcc-headline";
	src: url("../fonts/headline/NSPCC-HeadlineTT.eot");
	src: url("../fonts/headline/NSPCC-HeadlineTT.eot#iefix") format("embedded-opentype"), url("../fonts/headline/NSPCC-HeadlineTT.woff") format("woff"), url("../fonts/headline/NSPCC-HeadlineTT.ttf") format("truetype"), url("../fonts/headline/NSPCC-Headline.svg") format("svg");
}

@font-face {
	font-family: "nspcc-bold";
	src: url("../fonts/bold/NSPCC-BoldTT.eot");
	src: url("../fonts/bold/NSPCC-BoldTT.eot#iefix") format("embedded-opentype"), url("../fonts/bold/NSPCC-BoldTT.woff") format("woff"), url("../fonts/bold/NSPCC-BoldTT.ttf") format("truetype"), url("../fonts/bold/NSPCC-Bold.svg") format("svg");
}

@font-face {
	font-family: "nspcc-semibold";
	src: url("../fonts/semibold/NSPCC-Semibold.eot");
	src: url("../fonts/semibold/NSPCC-Semibold.eot#iefix") format("embedded-opentype"), url("../fonts/semibold/NSPCC-Semibold.woff") format("woff"), url("../fonts/semibold/NSPCC-Semibold.ttf") format("truetype"), url("../fonts/semibold/NSPCC-Semibold.svg") format("svg");
}

@font-face {
	font-family: "nspcc-regular";
	src: url("../fonts/regular/NSPCC-RegularTT.eot");
	src: url("../fonts/regular/NSPCC-RegularTT.eot#iefix") format("embedded-opentype"), url("../fonts/regular/NSPCC-RegularTT.woff") format("woff"), url("../fonts/regular/NSPCC-RegularTT.ttf") format("truetype"), url("../fonts/regular/NSPCC-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

/**
 * The globally used html styles are declared here
 */

/* line 66, ../../src/scss/__base/_fonts.scss */

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/**
 * The globally used font styles are declared here
 */

/**
 * h1 styles
 */

/* line 83, ../../src/scss/__base/_fonts.scss */

h1 {
	font-weight: normal;
	color: #fff;
}

/* line 101, ../../src/scss/__base/_fonts.scss */

h2 {
	font-weight: 700;
}

/* line 105, ../../src/scss/__base/_fonts.scss */

h3 {
	font-weight: 700;
}

/* line 115, ../../src/scss/__base/_fonts.scss */

p,
li {
	font-size: 1.6rem;
	line-height: 2.6rem;
}

/* line 120, ../../src/scss/__base/_fonts.scss */

a {
	text-decoration: none;
}

/* line 124, ../../src/scss/__base/_fonts.scss */

a:hover {
	text-decoration: underline;
}

/* line 128, ../../src/scss/__base/_fonts.scss */

select {
	cursor: pointer;
}

/* line 134, ../../src/scss/__base/_fonts.scss */

h1,
h2,
h3,
h4,
p,
li,
span {
	-webkit-transition: font 0.3s ease;
	-o-transition: font 0.3s ease;
	transition: font 0.3s ease;
}

/* line 145, ../../src/scss/__base/_fonts.scss */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
input,
label,
time,
button,
address {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* line 163, ../../src/scss/__base/_fonts.scss */

span,
p {
	font-family: Arial, Helvetica, Roboto;
}

/**
 * This is for the remaining base/globally applied styles that cannot be defined in the other Base folder stylesheets (e.g. colours, fonts etc.)
 *
 * @group css.base.base
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/base";
 *
 */

/**
 * Custom Resets
 */

/* line 18, ../../src/scss/__base/_base.scss */

p,
pre,
blockquote,
a,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
	margin: 0;
	padding: 0;
}

/**
 * body styling
 */

/* line 26, ../../src/scss/__base/_base.scss */

body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* line 33, ../../src/scss/__base/_base.scss */

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/**
* Fix the box sizing
*/

/* line 44, ../../src/scss/__base/_base.scss */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**
* Accessibility Links
*/

/* line 55, ../../src/scss/__base/_base.scss */

.acc-links {
	top: 80px;
	left: 10px;
	position: absolute;
	z-index: 500;
}

/* line 62, ../../src/scss/__base/_base.scss */

.acc-links li a {
	font-size: 2.6rem;
	line-height: 3rem;
	opacity: 0.7;
	color: #fff;
	background: #000;
	padding: 10px;
}

/**
* No Javascript/Browser Message
*/

/* line 75, ../../src/scss/__base/_base.scss */

.no-browser,
.no-script {
	background-color: #f5f5f5;
	border-bottom: 1px solid #000;
	color: #000;
	display: block;
	padding: 50px 20px;
	text-align: center;
	position: relative;
	z-index: 999;
}

/* line 86, ../../src/scss/__base/_base.scss */

.no-browser p,
.no-script p {
	font-size: 2.2rem;
	line-height: 2.8rem;
}

/* line 90, ../../src/scss/__base/_base.scss */

.no-browser a,
.no-script a {
	color: blue;
}

/* line 95, ../../src/scss/__base/_base.scss */

.test {
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

/**
 * @group css.base.forms
 *
 * This is for the remaining base/globally applied styles that cannot be defined in the other Base folder stylesheets (e.g. colours, fonts etc.)
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/forms";
 *
 */

/*------------------------------------*
    VARIABLES
/*------------------------------------*
 *
 * Edit these variables to define your grids. You can define your columns below
 * Please ensure the pixels round up correctly.
 * To calculate your grids Use http://gridcalculator.dk/
 * Note: Gutter and Margin labels are around the wrong way on the site.
 *
 *
 * @param {string} $total_Width
 * @param {string} $gutter_Width
 * @param {string} $margin_Width
 * @param {string} $col
 * @param {string} $breakpoint
 *
 * @example
 *     @include create_grid_structure("structure", 1320px, 60px, 24px, 12, "tablet");
 */

/* line 30, ../../src/scss/__mixins/_grid.scss */

.structure {
	margin: 0 auto;
	width: 96.875%;
	max-width: 1240px;
}

/* line 42, ../../src/scss/__mixins/_grid.scss */

.structure.grid {
	width: 98.4375%;
	max-width: 1260px;
}

/* line 48, ../../src/scss/__mixins/_grid.scss */

.structure [class*='col-'] {
	margin: 0 0.79365% 1.5873%;
	width: 98.4127%;
}

/* line 24, ../../src/scss/__grids/grids.scss */

.structure {
	background-color: blue;
}

/* line 30, ../../src/scss/__mixins/_grid.scss */

.structure-inner {
	margin: 0 auto;
	width: 99.63636%;
	max-width: 1096px;
}

/* line 42, ../../src/scss/__mixins/_grid.scss */

.structure-inner.grid {
	width: 99.63636%;
	max-width: 1106px;
}

/* line 48, ../../src/scss/__mixins/_grid.scss */

.structure-inner [class*='col-'] {
	margin: 0 0.45208% 0.90416%;
	width: 99.09584%;
}

/* line 31, ../../src/scss/__grids/grids.scss */

.structure-inner {
	background-color: red;
}

/**
 * @group css.animations
 * 
 *
 * 
 * 
 *
 * @example
 *     
 *
 */

/**
 * @group css.components.headers.header-global
 *
 * Top global header styles
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__components/__headers/header-global";
 *
 */

/* line 14, ../../src/scss/__components/__headers/_header-global.scss */

.header-global {
	background-color: #DDD;
}

/* line 17, ../../src/scss/__components/__headers/_header-global.scss */

.header-global > div {
	background-color: #EEE;
	height: 150px;
}

/**
 * @group css.components.footer.footer
 *
 * Footer Styles
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__components/__footer/footer";
 *
 */

/* line 14, ../../src/scss/__components/__footers/_footer-global.scss */

.footer {
	width: 100%;
	height: 160px;
	background-color: #6A1;
}

/* line 21, ../../src/scss/__components/__footers/_footer-global.scss */

.footer-global {
	height: 150px;
	background-color: #CCC;
}

/**
 * @group css.pages.page
 *
 * Use this for default page styles that apply to all pages
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__pages/page";
 *
 */

/* line 16, ../../src/scss/__pages/_page.scss */

.page > div {
	height: 300px;
	background-color: #333;
}

/* line 1, ../../src/scss/__pages/__includes/_strip.scss */

.strip {
	width: 100%;
	height: 32px;
	background-color: grey;
}

@media all and (min-width: 30.0625em) {

/* line 83, ../../src/scss/__base/_fonts.scss */

h1 {
	font-size: 4.2rem;
	line-height: 4.8rem;
}

/* line 57, ../../src/scss/__mixins/_grid.scss */

.structure [class*='col-'] {
	float: left;
}

/* line 62, ../../src/scss/__mixins/_grid.scss */

.structure.i-b {
	font-size: 0;
}

/* line 65, ../../src/scss/__mixins/_grid.scss */

.structure.i-b [class*='col-'] {
	float: none;
	display: inline-block;
	vertical-align: top;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-1-12,
.structure .col-1-12 {
	width: 6.74603%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-2-12,
.structure .col-1-6 {
	width: 15.07937%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-3-12,
.structure .col-1-4 {
	width: 23.4127%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-4-12,
.structure .col-1-3 {
	width: 31.74603%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-5-12 {
	width: 40.07937%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-6-12,
.structure .col-1-2 {
	width: 48.4127%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-7-12 {
	width: 56.74603%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-8-12 {
	width: 65.07937%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-9-12 {
	width: 73.4127%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-10-12 {
	width: 81.74603%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-11-12 {
	width: 90.07937%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure .col-12-12,
.structure .col-1-1 {
	width: 98.4127%;
}

}

@media all and (min-width: 48.0625em) {

/* line 83, ../../src/scss/__base/_fonts.scss */

h1 {
	font-size: 5.6rem;
	line-height: 5.6rem;
}

/* line 57, ../../src/scss/__mixins/_grid.scss */

.structure-inner [class*='col-'] {
	float: left;
}

/* line 62, ../../src/scss/__mixins/_grid.scss */

.structure-inner.i-b {
	font-size: 0;
}

/* line 65, ../../src/scss/__mixins/_grid.scss */

.structure-inner.i-b [class*='col-'] {
	float: none;
	display: inline-block;
	vertical-align: top;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-1-12,
.structure-inner .col-1-12 {
	width: 7.42917%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-2-12,
.structure-inner .col-1-6 {
	width: 15.76251%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-3-12,
.structure-inner .col-1-4 {
	width: 24.09584%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-4-12,
.structure-inner .col-1-3 {
	width: 32.42917%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-5-12 {
	width: 40.76251%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-6-12,
.structure-inner .col-1-2 {
	width: 49.09584%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-7-12 {
	width: 57.42917%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-8-12 {
	width: 65.76251%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-9-12 {
	width: 74.09584%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-10-12 {
	width: 82.42917%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-11-12 {
	width: 90.76251%;
}

/* line 99, ../../src/scss/__mixins/_grid.scss */

.structure-inner .col-12-12,
.structure-inner .col-1-1 {
	width: 99.09584%;
}

}

@media all and (min-width: 64em) {

/* line 83, ../../src/scss/__base/_fonts.scss */

h1 {
	font-size: 6.8rem;
	line-height: 7.2rem;
}

}

