/**
 * @group css.components.headers.header-global
 *
 * Top global header styles
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__components/__headers/header-global";
 *
 */

.header-global {
    background-color: green;

    > div {
        background-color: #EEE;
        height: 150px;

    }
}

.header-test {
    background-color: blue;
    height: 200px;
}