/*------------------------------------*
    VARIABLES
/*------------------------------------*
 *
 * Edit these variables to define your grids. You can define your columns below
 * Please ensure the pixels round up correctly.
 * To calculate your grids Use http://gridcalculator.dk/
 * Note: Gutter and Margin labels are around the wrong way on the site.
 *
 *
 * @param {string} $total_Width
 * @param {string} $gutter_Width
 * @param {string} $margin_Width
 * @param {string} $col
 * @param {string} $breakpoint
 *
 * @example
 *     @include create_grid_structure("structure", 1320px, 60px, 24px, 12, "tablet");
 */


@include create_grid_structure("structure", 1280px, 10px, 20px, 12, "tablet");

.structure {
    background-color: blue;

    // Manual Nested
    // .col-1-2 {
    // 	@include nested(200px, 4, 10px, 12px, "mobile");
    // }

}




@include create_grid_structure("structure-inner", 1100px, 10px, 10px, 6, "tablet");

.structure-inner {
    background-color: red;

    .nested-grid {
        @extend .cf;

    	[class*='col-'] {
    		height: 100px;
    		background-color: #CCC;
    	}
    }
}






